body {
    overflow-x: hidden;
    background-color: #003367;
}

h1 {
    
    transition-property: Lucida Bright;
    font-size: 60px;
    color: #da47cc;
}
.btn {
    color: #cc68b0;
    border: 1px solid gray;
    margin: 14px 0px;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: rgb(9 33 55);
}    
.btn:hover{
    color: black;
    background-image: linear-gradient( #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

h2 {
    background-color: #004992;
    text-align: center;
}

p {
    text-align: center;
    font-size: 50px;
    color: white;
}
.btn-style {
    width: 30%;
    border-radius: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image {
    width: 100%
}



a {
    color: #db70c5;
    font-size: larger;
    transition-duration: 0.5s;
}

a:hover {
    color: #fff;
    text-decoration: none;
}
.list-style{
   text-align: center;
   display: flex;
   justify-content: center;
   color: white;
}
.list-style li{
    font-size: large;
    background-color: rgba(55, 17, 59, 0.63);
    box-shadow: 0px 0px 12px -1px rgb(214, 158, 222);
}
.list-style li ul{
    margin: 1em;
    padding: 0.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.644);
    text-align: justify;
}
.list-style li ul a{
    color: rgb(248, 201, 255);
    text-decoration: none;
}
.list-style li ul a:hover{
    color: rgb(220, 147, 223);
}


.text-center {
	text-align: center;
	list-style-position: inside;
}

ol.text-center li {
     color: white;
	 text-align: left;
	 margin-left: 30%;
}

#button{
    padding: 6px 20px;
    background-color: #0069ff;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 19px;
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    p {
        font-size: 20px
    }
    h1 {
        font-size: 20px
    }
    h2 {
        width: 100%;
        font-size: 20px;
    }
    .main {
        max-width: 90%;
        overflow: hidden;
        margin: 0 auto
    }
    .image {
        width: 100%;
        padding: 10px
    }
}

@media screen and (max-width:480px){
    .list-style{
        padding: 0;
        margin:1em 0;
    }
    .list-style li{
        width:100%;
    }
    img{
        width:100% !important;
        padding:0;
        margin: 0 auto !important;
    }
}
