@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Regular.otf) format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@700&family=Fredoka+One&display=swap");
@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
        scroll-behavior: smooth;
    }
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background: rgb(247, 71, 0);
    border-radius: 10px;
    background-clip: padding-box;
    transition: 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(247, 40, 0);
    background-clip: padding-box;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #efdecd;
    top: 0;
}

h1 {
    font-family: "Bungee Inline", cursive;
    text-align: center;
    font-size: 70px;
    color: rgb(247, 71, 0);
    text-shadow: 2px 2px rgb(181, 58, 37);
}

p {
    text-align: center;
    font-size: 50px;
    color: white;
}

.section-1 {
    padding: 100px 0;
    background: url('images/bg-2.jpg'), linear-gradient(to top, rgba(242, 212, 182, 0.6), rgba(242, 212, 182, 0.6));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: color;
}

.section-2 {
    background: linear-gradient(to bottom, #efdecd 70%, #f4f0e1);
}

#hack_heading {
    font-family: "Acme", cursive;
    text-align: center;
    font-size: 70px;
    color: #f74700;
    text-shadow: 2px 2px rgb(181, 58, 37);
    margin-bottom: 1.4em;
    padding-top: 0.8em;
}

.counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#demo1,
#demo2,
#demo3,
#demo4 {
    font-family: "Cousine", monospace;
    width: 150px;
    text-align: center;
    font-size: 100px;
    color: #f74700;
    background-color: #f4f0e1;
    margin: 8px 15px;
    padding: 8px;
    border-radius: 10px;
    text-shadow: 2px 2px rgb(181, 58, 37);
    box-shadow: 0px 0px 10px 0px rgb(171, 138, 116);
}

.caption {
    font-size: 30px;
    font-family: "Cousine", monospace;
    color: #ab8a74;
    text-align: center;
}

.center-timer {
    display: block;
    margin: 8rem auto;
    justify-content: center;
    text-align: center;
}

.section-2 .container {
    padding: 40px 0;
    text-align: center;
}

.free-shirt {
    font-size: 35px;
    font-weight: bold;
    color: #f74700;
    font-family: 'Trebuchet MS', cursive;
    font-weight: bold system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    text-transform: capitalize;
    box-shadow: 0px 0px 10px 2px rgb(181, 58, 37);
    padding: 8px;
    border-radius: 6px;
    padding: 10px 30px;
    cursor: default;
    transition: 0.2s ease-in-out;
}

.free-shirt:hover {
    box-shadow: 0px 0px 10px 8px rgb(181, 58, 37);
}

.center {
    display: block;
    margin: 0 auto 0;
    width: 45%;
    padding: 5rem auto 20px;
}

.section-container-shirt {
    background: #f4f0e1;
    padding: 3.5em 0 0 0;
    padding-bottom: 100px;
}

.section-container-shirt .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn1 {
    position: relative;
    display: inline-block;
    padding: 120px 0px 0px 90px;
    color: #f4f0e1;
    background-color: #efdecd;
    overflow: hidden;
    transition: 0.2s;
    max-height: 600px;
    max-width: 550px;
}

.btn1:hover {
    color: #255784;
    background: #efdecd;
    box-shadow: 0 0 10px #f4f0e1, 0 0 40px #f4f0e1, 0 0 80px #f4f0e1;
    transition-delay: .3s;
}

.btn1 span {
    position: absolute;
    display: block;
}

.btn1 span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ab8a74);
}

.btn1:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.btn1 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ab8a74);
}

.btn1:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.btn1 span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ab8a74);
}

.btn1:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.btn1 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ab8a74);
}

.btn1:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.image {
    width: 85%;
    transition: 0.2s;
    display: block;
    margin-left: auto;
}

.btn1:hover .image {
    transform: translateY(-50px) translateX(-46px) scale(1.3);
}

.list-style {
    font-family: "Poppins";
    text-align: center;
    display: flex;
    justify-content: center;
    color: black;
    letter-spacing: 0.5px;
}

.list-style ol {
    font-size: 1.17em;
    background-color: rgba(239, 222, 205, 1);
    box-shadow: 0px 0px 12px -1px rgb(171, 138, 116);
}

.list-style ol li {
    margin: 1em 0;
    padding: 1em 1em 1em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    text-align: justify;
    transition: all 0.2s;
}

.list-style ol li:hover {
    transform: translateY(-3px);
}

.list-style ol li a {
    color: rgb(171, 138, 116);
    text-decoration: none;
}

.list-style ol li a:hover {
    color: rgb(247, 71, 0);
}

#video_box {
    background: linear-gradient(to bottom, #f4f0e1 2%, #efdecd, #efdecd, #efdecd);
    padding-top: 4em;
}

#video_box .container {
    padding: 1em 1em 8em 1em;
}

.wistia_responsive_padding {
    border-radius: 6px;
    overflow: hidden;
}

.w-big-play-button svg {
    background-color: #f74700;
    border-radius: 4px;
    overflow: hidden;
}

.w-bottom-bar-lower>div>div {
    background-color: #f74700 !important;
}


/* Social Button */

#social {
    /* justify-content: space-evenly; */
    text-align: center;
}

#social a {
    color: #fff;
    transition: 0.2s ease-in-out;
}

.btn {
    background-color: rgb(171, 138, 116);
    border: none;
    border-radius: 30px;
    font-family: "Poppins";
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.btn:hover {
    background: rgb(247, 71, 0);
    box-shadow: 0 0 10px rgb(244, 240, 225), 0 0 40px rgb(244, 240, 225), 0 0 80px rgb(244, 240, 225);
}

.social-buttons {
    margin-top: 5em;
}

.social-buttons a {
    display: inline-block;
    width: 280px;
    background-color: rgb(171, 138, 116);
    border-radius: 30px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: bold;
    margin: 10px 10px;
    padding: 16px 0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none;
}

.social-buttons a:hover {
    background: rgb(247, 71, 0);
    box-shadow: 0 0 10px rgb(244, 240, 225), 0 0 40px rgb(244, 240, 225), 0 0 80px rgb(244, 240, 225)
}

#foot {
    margin-top: 80px;
    margin-bottom: 50px;
}

.base {
    bottom: 0;
    position: relative;
    background-color: #ab8a74;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base a {
    color: #fff;
    text-decoration: none;
}

#bg div {
    background-color: rgb(247, 71, 0) !important;
    cursor: default;
}

#bg div span img {
    background-color: #db70c5 !important;
}

#dupli_hit_counter {
    padding: 5px 0 5px 0;
    display: inline-block;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.fty {
    background-color: rgba(239, 222, 205);
    letter-spacing: 1.2px;
    box-shadow: 0px 0px 12px -1px rgb(171, 138, 116);
    text-transform: uppercase;
    border-radius: 1px 35px;
    height: 110px;
    width: 250px;
    margin: 0 auto;
    padding-top: 10px;
}

.main {
    position: relative;
}

.scroll-to-top-wrapper {
    position: absolute;
    top: 100vh;
    right: 2.5rem;
    bottom: -3em;
    width: 3em;
    pointer-events: none;
}

.scroll-to-top {
    position: sticky;
    pointer-events: all;
    top: calc(100vh - 8rem);
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 5rem;
    height: 5rem;
    line-height: 5.5rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 80ms ease-in;
}

.scroll-to-top:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.arrow-up {
    border: solid blanchedalmond;
    border-width: 0 0.5rem 0.5rem 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

a#updated-rules {
    color: rgb(247, 71, 0);
}

a#updated-rules:hover {
    color: rgb(181, 58, 37);
}

@media screen and (max-width: 1000px) {
    .list-style {
        padding: 0;
        margin: 1em 0;
    }
    .free-shirt {
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 480px) {
    p {
        font-size: 20px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        width: 100%;
        font-size: 20px;
    }
    .main {
        max-width: 90%;
        overflow: hidden;
        margin: 0 auto;
    }
    .image {
        width: 100%;
        padding: 10px;
    }
    #hack_heading {
        font-size: 40px;
    }
    #demo1,
    #demo2,
    #demo3,
    #demo4 {
        font-size: 60px;
    }
    .free-shirt {
        font-size: 0.9rem !important;
    }
    .section-container-shirt {
        padding: 0.5em 0 0 0;
    }
    .section-container-shirt .row {
        margin: 0;
    }
    .section-container #t1,
    #demo {
        font-size: 30px;
    }
    .list-style li {
        width: 100%;
    }
    img {
        width: 90% !important;
        padding: 0;
        margin: 0 auto !important;
    }
}