.container
{
    display:flex;
    justify-content:space-evenly;
    margin-top:150px;
   margin-left:auto;
   margin-right:auto;
    width:60%;
}

.heading 
{
    font-family:Helvetica;
    color:#1877F2;
    font-size:70px;
    font-weight:400px;
}

.paragraph
{
    font-size:20px;
}

.right
{
    background-color:#fff;
    display:flex;
    flex-direction:column;
    box-shadow:3px 3px 4px  #ccc;
    padding:15px;
    border-radius: 10px; 
    width: 290px; 
    height: 280px;
}

.inp
{
    padding:10px;
    border-radius: 5px;
    border:2px solid #ccc;
}

.log
{
    padding:15px;
    background-color: #1877F2;
    color:#fff;
    font-weight:bold;
    border:none;
    border-radius:5px;
  
}

.forget
{
    color:#AD8CF2;
    text-align:center;
    text-decoration:none;
}

.create
{
    padding:15px;
    border:none;
    border-radius:5px;
    font-weight:bold;
    background-color:#42B72A;
    color:#fff;
    margin-left:auto;
    margin-right:auto;

}
